<html>
    <head>
         <title> Dice Roller </title>

    </head>
    <body>
         <h1> Dice Roller Example </h1>
         <div class="dicearea">
               <form action="/roll" method="post">

                    <h2>D4</h2><input type=text id="typeofdice" placeholder="Select type of dice">
                    <h2> Number of Dice </h2><input type=text id="numberofdice" placeholder="numberofdice">
                    <input type=submit value="Roll">
               </form>

          </div>




     </body>

</html>
